* {
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: 'Lato', sans-serif;
	background-color: #898B8B;
	color: #FFF;
	font-size: 1rem;
}

div {
	line-height: 2rem;
	background-color: #454747;
}
.container {
	width: 48rem;
	background-color: #343636;
	margin: 0 auto;
	border-radius: 1rem;
	padding: 0rem 2rem;
}

.header {
	height: 8rem;
	vertical-align: middle;
	padding: 1rem;
	background-color: #343636;
}

#notatnik {
	max-width: 8rem;
	max-height: 8rem;
	float: left;
	vertical-align: middle;
	margin: 0rem 1rem 1rem;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3rem;
}

.new-task {
	text-align: center;
	padding: 1rem;
	float:left;
	height: 9rem;
	width: 27rem;
	border-radius: 0rem 1rem 0rem 0rem;
}

#input-text {
    width: 15rem;
    height: 2rem;
}
		
#input-button {
    height: 2rem;
}

.data {
	text-align: center;
	padding: 1rem;
	height: 9rem;
	font-size: 1.5rem;
	float:left;
	width: 17rem;
	border-radius: 1rem 0rem 0rem 0rem;
}

#input-button-save {
	height: 2rem;
}

.content {
	text-align: center;
	padding: 0.5rem;
	border-radius: 0rem 0rem 1rem 1rem;
}

.tasks {
	text-align: center;
	padding: 1rem;
	background-color: #565858;
	margin: 2rem;
	margin-top: 0rem;
	border-radius: 1rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	line-height: 1rem;
}
ul {
	text-align: left;
	list-style-type: none;
}

.footer {
	text-align: center;
	line-height: 3rem;
	height: 3rem;
	background-color: #343636;
}