body{
           font-family: 'sans-serif';
           font-size: 12px;

       }
       .header{

         line-height: 1.5000em;
         margin-top: 0.7500em;  margin-bottom: 0.0000em;

       }
       h1{
           font-size: 1.75rem;
       }
       h2{}
       h3{}
       .tasks{
        font-size: 2em;
        line-height: 1.75em;
        margin-top: 0.75em;
        margin-bottom: 0.75em;
       }

       h1, h2, h3{
           line-height: 2em;
           margin-top: 0.75em;
           margin-bottom: 0.75em;
           font-weight: normal;
       }


       .functionalities{

         font-size: 1.8333em;
         line-height: 1.6364em;
         margin-top: 0.8182em;
         margin-bottom: 0.0000em;
       }

       html{
           font-size:1.5em;
       }
