body {
    margin: 1.25rem auto;
    font-family: sans-serif;
    width: 50%;
    line-height: 1.25;
    box-sizing: border-box;
}

h1, h2, ul, form, footer, li {
	margin-top: 0;
    margin-bottom: 0;
	padding-top: 0;
    padding-bottom: 0;
}

h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: normal;
}

h2 {
    font-size: 1.625rem;
    line-height: 2.5rem;
    font-weight: normal;
}

li {
    font-size: 1.25rem;
    line-height: 2.5rem;
}

form {
    font-size: 1.625rem;
    line-height: 2.5rem;
}

footer {
    font-size: 0.625rem;
    color: #AAA;
    text-align: right;
}
